.topbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 30px;
  border-bottom: 1px solid #eee;
}

.role-badge {
  background-color: #90e4c1;
  padding: 6px 12px;
  border-radius: 20px;
  color: #014e56;
  font-weight: 600;
}